# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/
.env
.env.local
.env.production
firebase-service-account.json
serviceAccountKey.json
*.pem
node_modules/
build/
dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Flutter generated / local files
artifacts/money-pullup-flutter/.dart_tool/
artifacts/money-pullup-flutter/build/
artifacts/money-pullup-flutter/.firebase/
artifacts/money-pullup-flutter/.idea/
artifacts/money-pullup-flutter/android/local.properties
artifacts/money-pullup-flutter/*.iml
artifacts/money-pullup-flutter/android/*.iml
artifacts/money-pullup-flutter/ios/Flutter/ephemeral/
artifacts/money-pullup-flutter/macos/Flutter/ephemeral/
